DB_URI=mongodb://dockerMongoUser:dockerMongoPassword@localhost:27017/?maxPoolSize=20&w=majority
DB_NAME=dockerdb

SERVER_ADDR=localhost
SERVER_PORT=9090

SENTRY_DSN=https://16751c10c86744a6a6f1a18284131499@sentry.openitstudio.ru/16
SENTRY_ENVIRONMENT=dev

#can be sqlite | mysql | postgres
META_DB_TYPE=sqlite

#test.db for sqlite
#user:pass@tcp(127.0.0.1:3306)/dbname?charset=utf8mb4&parseTime=True&loc=Local for mysql
#host=localhost user=user password=passwd dbname=db port=9920 sslmode=disable TimeZone=Asia/Shanghai for postgres
META_DB_DSN=test.db

# Настройки доступа к файловому хранилищу.
STORAGE_ENDPOINT=storage.db.box
#storage:9000
STORAGE_ACCESS_KEY=18a250ca58a592fadb90dc1091c50e52
#{openssl rand -hex 16}
STORAGE_SECRET_KEY=fd6c16f406068b55bec25113d92ea76120571448328a964cc024b68cbc129495
STORAGE_PUBLIC_URL=http://storage.db.box/storage/
STORAGE_BUCKET=db1
STORAGE_LOCATION=us-east-1
STORAGE_SSL=true